<div class="assets">
    <h1 class="heading intro">Components</h1>
    <div class="search">
        <input type="text" class="myInput" placeholder="card">
        <span class="sear has-text-centered"> <i class="material-icons">search</i> </span>
    </div>
    <div class="others">
        <mat-expansion-panel [expanded]='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Components
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ul>
                <li class="">

                    <p class="subtitle is-6 copo"><span class="dragMe" draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">breadcrumb</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">card</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">dropdown</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">menu</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">message</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">navbar</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">pagination</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">panel</span> </p>
                    <p class="subtitle is-6 copo"><span draggable=true (drag)="comDrag($event)"
                            (mouseover)="over($event)">tabs</span> </p>
                </li>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Elements
                </mat-panel-title>
            </mat-expansion-panel-header>

            <ul>
                <li class="">
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">box</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">button</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">delete</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">image</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">notification</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">progress Bar</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">table</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">tag</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="elemDrag($event)">title</p>
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Layout
                </mat-panel-title>

            </mat-expansion-panel-header>

            <ul>
                <li class="">
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Container</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Level</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Hero</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Section</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Footer</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="layDrag($event)">Tiles</p>
            </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Layout
                </mat-panel-title>

            </mat-expansion-panel-header>

            <ul>
                <li class="">
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">input</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">textarea</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">select</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">checkbox</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">radio</p>
                    <p class="subtitle is-6 copo" draggable=true (drag)="formDrag($event)">file</p>
            </ul>
        </mat-expansion-panel>

    </div>
</div>

<div style="display: none;" id="preview"> </div>