<p class="heading comText">Propeties</p>
<div class="tools">
    <div class="columns">
        <div class="column is-6  subTools">
            <span><i class="material-icons" matTooltip="Info about the action" >format_italic</i></span>
            <span><i class="material-icons" matTooltip="Info about the action" >format_bold</i></span>
            <span><i class="material-icons" matTooltip="Info about the action" >format_underlined</i></span>
            <span><i class="material-icons" matTooltip="Info about the action" >format_textdirection_l_to_r</i></span>
            <span><i class="material-icons" matTooltip="Info about the action" >format_textdirection_r_to_l</i></span>
        </div>
        <div class="column is-6 subTools">
            <span><i class="material-icons" matTooltip="Info about the action">format_align_left</i></span>
            <span><i class="material-icons" matTooltip="Info about the action">format_align_center</i></span>
            <span><i class="material-icons" matTooltip="Info about the action">format_align_justify</i></span>
            <span><i class="material-icons" matTooltip="Info about the action">format_align_right</i></span>
            <span class="color-picker"></span>
        </div>
    </div>
</div>