.codePreview{
    margin-left: 5%;
    margin-bottom: 10%;
    text-align: left; 
    user-select: text !important;
}
.Save{
    background-color: #2294e3 !important;
}
pre{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}
code{
    height: 75vh;
}
.html{
    user-select: text !important;
}
.buttons{
    margin-left: 5%;
}