<div class="column is-1 left-tools">
        <div class="section aside">
            <span class="left-icons" (click)="phone()" matTooltip="Info about the action"> <mat-icon [ngClass]="smartphone ? ' ' : 'current'">smartphone</mat-icon></span>
            <span class="left-icons" (click)="tablet()" matTooltip="Info about the action"> <mat-icon [ngClass]="tab ? '' : 'current'">tablet_android</mat-icon></span>
            <span class="left-icons" (click)="laptop()" matTooltip="Info about the action"> <mat-icon [ngClass]="lap ? '' : 'current'">laptop</mat-icon></span>
            <span class="left-icons" (click)="dextop()" matTooltip="Info about the action"> <mat-icon [ngClass]="des ? '' : 'current'">desktop_windows</mat-icon> </span>
            <div class="btm">
                <span class="left-icons" matTooltip="Info about the action"> <mat-icon>cloud_upload </mat-icon> </span>
                <span class="left-icons" matTooltip="Info about the action"> <mat-icon>pages</mat-icon> </span>
            </div>
        </div>
    </div>