<!-- <div id="focus" style="display: none; position: absolute ; border: 2px solid teal;"></div> -->

<iframe id="iframe" width="85%" frameborder="0"></iframe>

<!-- <div class="onFocus" id="onFocus" style="display: none; border: 2px solid blue; position: absolute;">

</div>
<div class="onHover" id="onHover" style="display: none; border: 2px solid blue; position: absolute;"></div>
 -->
 <span id="info" style="float: left; position: fixed; padding: 1px; font-size: x-small; background-color: rgb(34, 148, 227); color: rgb(255, 255, 255);"></span>
<div id="focus" style=" position: fixed; border: 1px solid rgb(34, 148, 227);">
    
</div>
<div id="clickFocus" style=" position: fixed; border: 1px solid rgb(34, 148, 227);"></div>
<span id="clickInfo" style=" float: left; position: fixed; padding: 1px; font-size: x-small; background-color: rgb(34, 148, 227); color: rgb(255, 255, 255); width: 1061px; top: -16px; left: 0px;">
<mat-icon id="delete" matTooltip="delete">delete</mat-icon>
<mat-icon id="duplicate" matTooltip="delete">add_circle_outline</mat-icon>
<mat-icon id="edit" matTooltip="edit">edit</mat-icon>
</span>

<div id="line" style=" position: fixed; border: 1px solid rgb(34, 148, 227); width:100px"></div>