
.mygrid{
    display: grid;
    grid-template-rows: 80vh 20vh;
}
/* mat-expansion-panel{
   z-index: 9999;
    height: 25vh;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10%;
    text-align: left; 
    user-select: text !important;
   
} */
